// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letters {



}
.letter {
  margin: 10px;
  padding: 10px 15px;
  background-color: #64A3E2;
  border-color: #4684BC;
  font-weight: bold;
  color: white;

}
